<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" type="text/css" />
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
    rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>
<style>
body {font-family: Arial;}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
</head>
<body>

<h2>An Interactive Autoencoder for Album Covers
</h2>
<p>Stuart Colianni, Amanpreet Kaur, Jay Pranger, Marcus Schwarting</p>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'About')" id="defaultOpen">About</button>
  <button class="tablinks" onclick="openTab(event, 'Dashboard')">Dashboard</button>
  <button class="tablinks" onclick="openTab(event, 'VAE')">Build your own album cover</button>
</div>

<div id="About" class="tabcontent">
  <h3>About</h3>
  <p>Album art is an important part of the music streaming experience since it is prominently featured on a listener’s applications while streaming. However research related to streaming services has focused on user behavior, social networks, and music recommendations [1,2] while album art has been under-represented. Our project offers a tool for users to visually explore their favorite album art using similarity graphs and to create their own covers using a variational autoencoder (VAE).
</p>
</div>

<div id="Dashboard" class="tabcontent">
  <h3>Dashboard</h3>
  <p>Please enter the below information to view graph</p>
    <form action = "/" method = "POST">
           <div style="width:1500px"><input id="artist" type="text" name="artist" placeholder="Enter artist name" value="{{request.form.artist}}"/></div>
		   <div style="width:1500px"><input id="album" type="text" name="album" placeholder="Enter album name" value="{{request.form.album}}"/></div>
		   <div style="width:1500px"><input id="numnodes" type="text" name="numnodes" placeholder="Enter number of nodes" value="{{request.form.numnodes}}"/></div>
              <div style="width:500px;margin-left: 460px;margin-top: 10px;justify-content: center;">
                <input class="button primary" type = "button" value="Run" onclick="update_graph(document.getElementById('artist').value, document.getElementById('album').value, document.getElementById('numnodes').value)"/>
              </div>
              </form>
</div>

<script>
	function update_graph(artist, album, numnodes){
		$.post( 
			"http://127.0.0.1:5000/", 
			{ artist: artist, album: album, numnodes: numnodes},
			function(response) { 				
				$("#bokeh_script").html(response["script"]); 
				$("#bokeh_div").html(response["div"]);
			}
		);
	}
</script>

<div id="VAE" class="tabcontent">
  <h3>Build your own album cover</h3>
</div>

<script>
function openTab(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();
</script>

<script type="text/javascript">
            $(document).ready(function () {
                $('#button').click(function (e) {
                $("#loading").show();
                $("#content").hide();
                e.preventDefault();
            });
            });
     document.getElementById("submit").addEventListener("click", function(event){
    event.preventDefault()
});
   </script>

<script id="bokeh_script"></script>
<div id="bokeh_div"></div>

<div style="width:500px;margin-left: 460px;margin-top: 300px;justify-content: center;"></div>

<div id="ae_button" style="width:500px;margin-left: 460px;margin-top: 10px;justify-content: center;">
    <input class="button primary" type = "button" value="Run Autoencoder" onclick="run_ae()"/>
</div>
              
<script>
function run_ae() {
	debugger;
	$.post( 
			"http://127.0.0.1:5000/", 
			{ node1_URL: this.node1_URL, node2_URL: this.node2_URL, album: "run_ae"}
		);
}

</script>

<div id="ae_div"> <img src="./static/img/ae_output.png"/></img> </div> 

<div style="width:500px;margin-left: 460px;margin-top: 300px; justify-content: center;"></div>   

<?php
    $var = $_GET['result'];
?>
</body>
</html>
